@import 'fonts' ;
@import 'colors' ;
@import 'variables';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    //border: 1px #050 dashed;
}

header {
    padding: 2em;
    flex-direction: column;
    text-shadow: 0em 0em 1em $dark;
    h1{
        position: relative;
        z-index: 2;
        text-align: center;
        margin: 0.5em;
        font-size: 2em;
        font-weight: 100;
        text-transform: capitalize;
    }
    nav {
        a, li {
            color: $light;
        }
        ul {
            display: flex;
            justify-content: center; 
            li {
                list-style: none;
                margin: 0.5em;
                text-transform: uppercase;
            }
        }
    }
}
main {
    padding: 2%;
}
footer {
    padding: 5em 3em;
}
a {
    text-decoration: none;
}
form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}
form input {
    width: 50%;
}
